.countryPanel {
  width: 30px;
  height: calc(100vh - 40px);
  list-style-type: none;
  position: fixed;
  padding-right: 15px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;

  &__link {
    display: block;
    width: 24px;
    height: 22px;
    cursor: pointer;
    font-size: 18px;
  }
  &__link_active,
  &__link:hover {
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 30px;
  }
}
